@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("fonts/SourceSansPro-Regular.eot");
  src: local("☺"), url("fonts/SourceSansPro-Regular.woff") format("woff"),
    url("fonts/SourceSansPro-Regular.ttf") format("truetype"),
    url("fonts/SourceSansPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("fonts/SourceSansPro-Bold.eot");
  src: local("☺"), url("fonts/SourceSansPro-Bold.woff") format("woff"),
    url("fonts/SourceSansPro-Bold.ttf") format("truetype"),
    url("fonts/SourceSansPro-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gobold Regular";
  src: url("fonts/Gobold Regular.eot");
  src: local("☺"), url("fonts/Gobold Regular.woff") format("woff"),
    url("fonts/Gobold Regular.ttf") format("truetype"),
    url("fonts/Gobold Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans.eot");
  src: url("fonts/OpenSans.eot?#iefix") format("embedded-opentype"),
    url("fonts/OpenSans.woff2") format("woff2"),
    url("fonts/OpenSans.woff") format("woff"),
    url("fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans_Light";
  src: url("fonts/OpenSans-Light.eot");
  src: url("fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/OpenSans-Light.woff2") format("woff2"),
    url("fonts/OpenSans-Light.woff") format("woff"),
    url("fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

body {
  background: #0d0d0d;
}
h2::before,
h2::after {
  content: "";
  position: absolute;
}
/* Top menu */
#red_logo {
  max-width: 100%;
}
.button-menu {
  border: none;
  max-width: 40px;
}
button:focus {
  outline: none;
}
.main-menu {
  width: 100%;
  padding: 3rem 7rem 3rem 6rem;
}
.navbar-toggler {
  padding: 0;
}
.colorize {
  background: #9e171d;
  transition: step-start 0.3s;
}
.white-logo {
  display: none;
}
.white-logo-active {
  display: block;
  max-width: 100%;
}
.red-logo-active {
  display: none;
}

/* Hamburger menu */
.hamburger {
  transition-timing-function: linear 0.15s;
}
.hamburger-box {
  position: relative;
  width: 40px;
  height: 24px;
}
.hamburger-inner {
  top: 9%;
}
.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
  display: block;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  position: absolute;
  width: 40px;
  height: 2px;
  background: white;
  transition: ease 0.15s;
}
.hamburger-menu.is-active .hamburger-inner {
  transform: translate3d(0, 11px, 0) rotate(45deg);
}
.hamburger-menu.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-7.1px, -8px, 0);
  opacity: 0;
}
.hamburger-menu.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.hamburger-menu .hamburger-inner::before {
  top: 0.65rem;
  transition: ease 0.15s;
}
.hamburger-menu .hamburger-inner::after {
  top: 1.25rem;
}

/* Navbar */
.navbar-nav {
  flex-flow: row wrap;
  justify-content: flex-end;
}
.nav-item:last-child .nav-link {
  margin-right: 7rem;
}

.nav-link {
  margin: 1rem 1.3rem 3rem 0;
  font-family: "Open Sans_Light";
  font-size: 13px;
  line-height: 15px;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0px;
  transition: background-size 0.3s;
}
.nav-link:hover,
.nav-link:focus {
  color: white;
  background-size: 100% 2px;
}

/* Слайдер */

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slider {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 1) 51%,
    rgba(19, 19, 19, 1) 0%
  );
}
.slider .slick-arrow.slick-prev {
  font-size: 0;
  background: none;
  border: none;
}
.slider .slick-arrow.slick-next {
  position: absolute;
  width: 30px;
  height: 20px;
  right: 18%;
  bottom: 10%;
  font-size: 0;
  border: none;
  background: url("../source/images/icons/css_sprites.png");
  background-position: -55px -285px;
}
.slick-slide {
  outline: none;
}
.slider__item {
  display: flex;
}
.description > h2 {
  position: relative;
  padding: 1.2rem 0 0 3.3rem;
  font-family: "Gobold Regular";
  font-size: calc(18px + 7 * (100vw / 1499));
  color: #82878a;
  line-height: 3rem;
  text-transform: uppercase;
}
.description > h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 3.3rem;
  background: url("../source/images/icons/css_sprites.png");
  background-position: -149px -287px;
}
.description > h2 > span {
  color: #4a4c4c;
}
.description > p {
  height: 34%;
  margin-top: 1.1rem;
  padding-left: 3.3rem;
  font-family: "Open Sans_Light";
  font-size: calc(13px + 3 * (100vw / 1499));
  line-height: 24px;
  color: #82878a;
  overflow: hidden;
}
.slider__item div > img {
  max-width: 100%;
  max-height: 100%;
}

/* Блок с постами+hover */
#services {
  margin: 6.3rem 0 0 0;
}
.services__posts {
  padding: 0 0 14.6rem 0;
  font-family: "Open Sans_Light";
  font-size: calc(12px + 2 * (100vw / 1499));
  line-height: 24px;
  color: white;
}
.services__posts h3 {
  position: relative;
  padding: 2.5rem 0 0.5rem 0;
  font-family: "Gobold Regular";
  font-size: calc(21px + 4 * (100vw / 1499));
  text-transform: uppercase;
  z-index: 2;
}
.services__posts-elements p {
  position: relative;
  padding: 1rem 0.5rem 0 0;
  z-index: 2;
}
.services__posts-elements {
  padding: 0 0 0 2rem;
}
.services__posts-elements-first {
  padding: 0 0 0 7rem;
}
.services__posts p > a {
  position: absolute;
  width: 45px;
  height: 45px;
  z-index: 2;
  background: url(../source/images/icons/css_sprites.png);
  background-position: -10px -172px;
}
p.left-block-link > a {
  top: 82%;
  left: 29%;
}
p.center-block-link > a,
p.right-block-link > a {
  top: 82%;
  left: 9%;
}
.services__posts h3::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: url(../source/images/icons/css_sprites.png);
  background-position: -335px -10px;
}
.services__posts h3 span {
  color: #0e0e0e;
}
.services__posts:first-child {
  position: relative;
  background: url(../source/images/merc_opacity.png) no-repeat 0 / cover;
}
.services__posts:first-child:hover::before,
.services__posts:nth-child(2):hover::before,
.services__posts:nth-child(3):hover::before {
  background: #9e171d;
  opacity: 0.8;
}
.services__posts:nth-child(2) {
  position: relative;
  background: url(../source/images/audi-a8_opacity.png) no-repeat 0 / cover;
}
.services__posts:nth-child(3) {
  position: relative;
  background: url(../source/images/brabus_opacity.png) no-repeat 0 / cover;
}
.services__posts:first-child::before,
.services__posts:nth-child(2)::before,
.services__posts:nth-child(3)::before {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Carouse 3-slide */
#fleet {
  position: relative;
  background: white;
}
#fleet div > h2 {
  position: relative;
  padding-top: 5rem;
  font-family: "Gobold Regular";
  font-size: calc(24px + 16 * (100vw / 1499));
  color: #0e0e0e;
  text-transform: uppercase;
}
#fleet div > h2 > span {
  color: #9e171d;
}
#fleet div > .title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: url(../source/images/icons/css_sprites.png);
  background-position: -218px -287px;
}
#fleet div > p:nth-child(2) {
  padding-bottom: 3rem;
  font-family: "Open Sans_Light";
  font-size: calc(11px + 2 * (100vw / 1499));
  line-height: 24px;
  color: #82878a;
}
.multiple-items__element {
  position: relative;
  text-align: center;
}
div.multiple-items__element > p {
  padding: 0.5rem 0 3rem 0;
  text-align: center;
  font-family: "Gobold Regular";
  font-size: calc(18px + 7 * (100vw / 1499));
  color: #000000;
  text-transform: uppercase;
}
.hover-comment {
  display: none;
  position: absolute;
  width: 100%;
  height: 26%;
  left: 0;
  bottom: 30%;
  padding: 0.5rem 0 0 0;
  text-align: center;
  font-family: "Open Sans_Light";
  font-size: calc(10px + 3 * (100vw / 1499));
  color: white;
  list-style: none;
  background: rgba(158, 23, 30, 0.85);
}
.slick-dots {
  display: flex;
  margin: 0;
  padding: 1rem 0 3rem 0;
  justify-content: center;
  list-style-type: none;
}
.slick-dots > li {
  margin: 0 0.25rem;
}
.slick-dots > li > button {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  padding: 0;
  font-size: 0;
  border: 1px solid #999;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px 0 #777;
}
.slick-dots > li.slick-active button {
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid rgba(158, 23, 30);
  background: linear-gradient(rgb(235, 31, 41), rgba(158, 23, 30));
  box-shadow: inset 0 0 1px 1px rgba(158, 23, 30);
}
.slick-slide:hover .hover-comment {
  display: block;
}
div.multiple-items__element > .audi {
  padding-top: 1.3rem;
}
.slider-arrows .slick-arrow.slick-prev,
.slider-arrows .slick-arrow.slick-next {
  position: absolute;
  width: 45px;
  height: 45px;
  font-size: 0;
  background: none;
  border: none;
}
.slider-arrows .slick-arrow.slick-prev {
  top: 67%;
  left: 4%;
  background: url("../source/images/icons/css_sprites.png");
  background-position: -75px -172px;
}
.slider-arrows .slick-arrow.slick-next {
  top: 67%;
  right: 2%;
  background: url("../source/images/icons/css_sprites.png");
  background-position: -75px -172px;
  transform: rotate(180deg);
}
.slider-arrows .slick-arrow.slick-prev:focus,
.slider-arrows .slick-arrow.slick-next:focus {
  background-position: -140px -172px;
}

/* Contact */
#contacts {
  height: auto;
  background: #161616;
}
.right-block {
  padding: 0 0 0 3.1rem;
}
.left-block h2,
.right-block h2 {
  position: relative;
  margin-top: 5rem;
  padding-bottom: 0.5rem;
  font-family: "Gobold Regular";
  font-size: calc(24px + 16 * (100vw / 1499));
  text-transform: uppercase;
  color: white;
}
.right-block > h2 span {
  color: #9e171d;
}
.left-block > h2::after,
.right-block > h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
}
.left-block > h2::after {
  background: url(../source/images/icons/css_sprites.png);
  background-position: -218px -287px;
}
.right-block > h2::after {
  background: url(../source/images/icons/css_sprites.png);
  background-position: -335px -10px;
}
.left-block > p,
.right-block > p {
  margin-bottom: 2rem;
  font-family: "Open Sans_Light";
  font-size: 13px;
  color: #82878a;
  line-height: 24px;
}
.right-block > p {
  color: white;
}
.right-block > p:nth-child(2) {
  margin: 4.5rem 0 3.3rem 0;
  font-family: "Gobold Regular";
  font-size: calc(30px + 10 * (100vw / 1499));
  color: white;
}

/* Checkbox */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  font-size: 13px;
  font-family: "Open Sans_Light";
  padding: 0 4rem 0 0;
  color: #82878a;
}
input[type="checkbox"] + label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #9e171d;
  position: absolute;
  top: -0.2rem;
  right: 0.3rem;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 16px;
  top: -0.1rem;
  right: 0.05rem;
  background: url(../source/images/icons/css_sprites.png);
  background-position: -104px -287px;
}
input[type="checkbox"] + label[for="checkbox_right"]::before,
input[type="checkbox"]:checked + label[for="checkbox_right"]::after {
  left: 8.7rem;
}
label[for="checkbox_left"] {
  margin: 0 2rem 0.5rem 0;
}

/* Menu # 2 focus */
.list-control {
  max-width: 370px;
  margin-top: 0.5rem;
  background: url(../source/images/icons/arrow_down.png) 98% no-repeat;
}
.list {
  max-width: 370px;
  max-height: 30px;
  padding: 0 0 0 0.5rem;
  font-size: 13px;
  font-family: "Open Sans_Light";
  color: #82878a;
  background: transparent;
  outline: none;
  border: 1px solid #4a4c4c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.list:focus {
  background: transparent;
  color: #82878a;
  outline: none;
  box-shadow: 0 0 6px rgba(158, 23, 30, 0.8) inset;
  border-color: #9e171d;
}
.list:focus option {
  outline: none;
  box-shadow: none;
}
.list option {
  font-size: 13px;
  font-family: "Open Sans_Light";
  color: #82878a;
  text-transform: capitalize;
}

/* Registration fields */
.registration {
  display: inline-block;
  margin: 1.3rem 0.6rem 0 0;
  padding-left: 0;
  font-family: "Open Sans_Light";
  font-size: 13px;
  color: #82878a;
  line-height: 24px;
  text-transform: capitalize;
}
.registration > label {
  margin-bottom: 0.2rem;
}
.registration > label > span {
  color: #9e171d;
}
input[type="text"] {
  max-width: 270px;
}
input[type="email"] {
  max-width: 370px;
}
input[type="text"],
input[type="email"] {
  max-height: 30px;
  border: 0;
  border-radius: 0;
}
input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border: 1px solid #9e171d;
  box-shadow: 0 0 5px rgba(158, 23, 30, 0.8) inset;
}

/* Textarea */
#details {
  max-width: 670px;
  resize: none;
  border-radius: 0;
  border: none;
}
#details:focus {
  outline: none;
  border: 1px solid #9e171d;
  box-shadow: 0 0 5px rgba(158, 23, 30, 0.8) inset;
}
label[for="details"] {
  margin-top: 1rem;
  font-size: 13px;
  font-family: "Open Sans_Light";
  color: #82878a;
}

/* Submit */
button#submit {
  position: relative;
  min-width: 170px;
  min-height: 45px;
  margin: 0.3rem 0 3.4rem 0;
  padding: 0.8rem;
  text-align: center;
  font-family: "Open Sans_Light";
  font-size: calc(12px + 1 * (100vw / 1499));
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border-radius: 0;
  border: 1px solid white;
  transition: all 0.35s;
}
button span {
  position: relative;
  z-index: 2;
}
#submit::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #9e171d;
  transition: all 0.35s;
}
#submit:hover {
  border: 1px solid #9e171d;
}
#submit:hover::after {
  width: 100%;
}
#submit:focus {
  color: white;
  background-color: #9e171d;
  border-color: #9e171d;
  box-shadow: 0px 8px 15px rgba(158, 23, 29, 0.5);
}

/* Right block */
.right-block > a {
  position: relative;
  padding-left: 1rem;
  font-family: "Open Sans_Light";
  font-size: 13px;
  color: white;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
.right-block > a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  top: 0.2rem;
  left: 0;
  background: url(../source/images/icons/css_sprites.png);
  background-position: -335px -32px;
}

/* Testimonials */
.testimonials {
  background: #0e0e0e;
}
.horizontal-left-block h2 {
  position: relative;
  margin: 5rem 0 0 0;
  padding: 0 0 0.5rem 0;
  font-family: "Gobold Regular";
  font-size: calc(24px + 16 * (100vw / 1499));
  color: white;
  text-transform: uppercase;
}
.horizontal-left-block h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: url(../source/images/icons/css_sprites.png);
  background-position: -218px -287px;
}
.horizontal-left-block p {
  margin: 0.3rem 0 5rem 0;
  font-family: "Open Sans_Light";
  font-size: calc(11px + 2 * (100vw / 1499));
  color: #82878a;
  line-height: 24px;
}
.horizontal-right-block {
  display: flex;
  padding: 0;
}
.horizontal-right-block div {
  margin: 5.1rem 0 0 0;
}

/* Swiper carousel comments */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide > p {
  font-size: calc(12px + 2 * (100vw / 1499));
}
.swiper-slide > p:nth-child(2) {
  margin: 1rem 0 0.7rem 0;
  font-family: "Open Sans_Light";
  color: #82878a;
}
.swiper-slide > p:nth-child(3) {
  margin: 0 0 5.4rem 0;
  font-family: "Gobold Regular";
  line-height: 24px;
  color: #9e171d;
}
.swiper-prev,
.swiper-next {
  width: 45px;
  height: 45px;
  background: url(../source/images/icons/css_sprites.png);
}
.swiper-prev {
  background-position: -140px -172px;
}
.swiper-next {
  background-position: -205px -172px;
}
.swiper-prev:focus,
.swiper-next:focus {
  outline: none;
}
.swiper-prev:hover {
  box-shadow: -1px 0px rgb(158, 23, 29), -1px 1px rgb(158, 23, 29),
    -2px 1px rgb(157, 22, 28), -2px 2px rgb(157, 22, 28),
    -3px 2px rgb(156, 21, 27), -3px 3px rgb(156, 21, 27);
}
.swiper-next:hover {
  box-shadow: 1px 0px rgb(158, 23, 29), 1px 1px rgb(158, 23, 29),
    2px 1px rgb(157, 22, 28), 2px 2px rgb(157, 22, 28), 3px 2px rgb(156, 21, 27),
    3px 3px rgb(156, 21, 27);
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 22px;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  border: 1px solid white;
  background: white;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 45%;
}

/* Bottom block */
.bottom-block {
  background: white;
}
.bottom-block h2 {
  position: relative;
  margin: 5rem 0 0 0;
  padding: 0 0 0.5rem 0;
  font-family: "Gobold Regular";
  font-size: calc(18px + 7 * (100vw / 1499));
  color: #0e0e0e;
  text-transform: uppercase;
}
.bottom-block h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0;
  background: url(../source/images/icons/css_sprites.png);
  background-position: -218px -287px;
}
.bottom-block h2 > span {
  color: #9e171d;
}
.quick-menu {
  margin-top: 3rem;
  padding-right: 0;
}
.quick-menu-item {
  padding: 0 1.1rem 0 0;
  list-style: none;
}
.quick-menu-item a {
  font-family: "Open Sans_Light";
  font-size: calc(12px + 2 * (100vw / 1499));
  line-height: 24px;
  color: #82878a;
  text-transform: uppercase;
}
.quick-menu-item a:hover,
.contact-information a:hover {
  text-decoration: none;
  color: #9e171d;
}
.contact-information {
  display: flex;
  margin: 3rem 0 4.3rem 0;
}
.contact-information a {
  padding: 0;
  font-family: "Open Sans_Light";
  font-size: calc(12px + 2 * (100vw / 1499));
  line-height: 24px;
  color: #82878a;
  text-decoration: none;
}
.contact-information a:nth-child(2) {
  text-decoration: underline;
}

/* Footer */
.footer {
  margin: 0;
  padding: 0.7rem 0 0.5rem 0;
  background: #e6e6e6;
}
.footer-menu,
.footer-menu-right {
  display: flex;
  margin: 0;
  list-style: none;
}
.footer-menu-right {
  padding: 0;
}
.footer-menu li > a {
  padding: 0 1rem 0 0;
  font-family: "Open Sans_Light";
  font-size: 13px;
  color: #82878a;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-menu li:nth-child(2) > a {
  color: #9e171d;
}
.footer-menu-right > p {
  padding: 0 1.5rem 0 1rem;
  margin-bottom: 0;
  font-family: "Open Sans_Light";
  font-size: calc(9px + 4 * (100vw / 1499));
  line-height: 24px;
  color: #82878a;
}
.footer-menu-right ul {
  display: flex;
  margin-bottom: 0;
  list-style: none;
}
.footer-menu-right > ul li {
  position: relative;
  min-width: 29px;
  min-height: 30px;
  margin: 0 0.5rem 0 0;
}
.footer-menu-right > ul li a {
  min-width: 29px;
  min-height: 30px;
}
.footer-menu-right > ul li a::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 30px;
  top: 0;
  left: 0;
}
.footer-menu-right > ul li:nth-child(1) a::after {
  background: url(../source/images/icons/css_sprites.png);
  background-position: -270px -172px;
}
.footer-menu-right > ul li:nth-child(1):hover a::after {
  background-position: -108px -237px;
}
.footer-menu-right > ul li:nth-child(2) a::after {
  background: url(../source/images/icons/css_sprites.png);
  background-position: -60px -237px;
}
.footer-menu-right > ul li:nth-child(2):hover a::after {
  background-position: -207px -237px;
}
.footer-menu-right > ul li:nth-child(3) a::after {
  background: url(../source/images/icons/css_sprites.png);
  background-position: -10px -237px;
}
.footer-menu-right > ul li:nth-child(3):hover a::after {
  background-position: -157px -237px;
}

/* Navbar */
@media (max-width: 1200px) {
  /* Navbar */
  .main-menu {
    padding: 3rem 2.2rem 3rem 4rem;
  }
  .nav-item:last-child .nav-link {
    margin-right: 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu {
    padding: 3rem 4rem 3rem 4rem;
  }
  .nav-item:last-child .nav-link {
    margin-right: 4rem;
  }
}

@media (min-width: 800px) and (max-width: 991px) {
  .main-menu {
    padding: 3rem 4rem 3rem 4rem;
  }
  .navbar-nav {
    justify-content: space-around;
  }
  .nav-link {
    margin: 1rem 0 2rem 0;
  }
  .nav-item:last-child .nav-link {
    margin-right: 0.5rem;
  }
}

@media (min-width: 640px) and (max-width: 799px) {
  .navbar-nav {
    justify-content: space-around;
  }
  .nav-link {
    margin: 0 0 1rem 1rem;
  }
  .nav-item:last-child .nav-link {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .bottom-main-menu::before,
  .bottom-main-menu::after {
    content: "";
    width: 100%;
    order: 0;
  }
  .nav-item:nth-child(n + 7) {
    order: 1;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .hamburger-inner {
    top: 19%;
  }
  .navbar-nav {
    justify-content: space-between;
  }
  .nav-link {
    margin: 0.5rem 0.7rem 0 0.7rem;
  }
  .nav-item:last-child .nav-link {
    margin-right: 0.7rem;
    margin-bottom: 1rem;
  }
  .bottom-main-menu::before,
  .bottom-main-menu::after {
    content: "";
    width: 100%;
    order: 0;
  }
  .nav-item:nth-child(n + 7) {
    order: 1;
  }
}

@media (min-width: 321px) and (max-width: 479px) {
  .hamburger-inner {
    top: 5%;
  }
  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    width: 32px;
  }
  .navbar-nav {
    justify-content: center;
  }
  .nav-item {
    flex-basis: 33.33%;
    text-align: center;
    box-shadow: 0px 0px 0px 0.5px white;
  }
  .nav-link {
    margin: 0rem 0rem 0 0rem;
  }
  .nav-item:last-child .nav-link {
    margin-right: 0rem;
    margin-bottom: 0rem;
  }
  .bottom-main-menu::before,
  .bottom-main-menu::after {
    content: "";
    width: 100%;
    order: 0;
  }
  .nav-item:nth-child(n + 4) {
    order: 1;
  }
  .nav-item:nth-child(n + 10) {
    flex: 0 0 50%;
  }
}

/* Media */
@media (min-width: 1200px) {
  /* Swiper slide review */
  .swiper-pagination {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Menu */
  .hamburger-inner {
    top: 5%;
  }
  /* Slider with description 1-st */
  .description > p {
    height: 37%;
    padding-left: 2.3rem;
  }
  .description > h2 {
    padding-left: 2.3rem;
  }
  .description > h2::after {
    left: 2.3rem;
  }
  #fleet div > h2 {
    padding-top: 3rem;
  }

  /* Services */
  .services__posts-elements-first {
    padding: 0 0 0 3rem;
  }
  p.left-block-link > a {
    left: 14%;
  }

  /* Form for contacts */
  #details {
    max-width: 370px;
  }
  .right-block {
    padding-left: 1rem;
  }

  /* Swiper slide review */
  .swiper-pagination {
    display: none;
  }
  .horizontal-left-block h2 {
    margin: 3rem 0 0 0;
  }
  .horizontal-left-block p {
    margin: 0.3rem 0 3rem 0;
  }

  /* Bottom block */
  .contact-information a {
    margin-right: 1rem;
  }
  .contact-information {
    display: block;
    margin: 2rem 0 2.3rem 0;
  }
  .quick-menu {
    margin-top: 2rem;
  }

  /* Footer */
  .footer-menu-right > p {
    padding-left: 3rem;
  }
  .footer-menu-right ul {
    padding-left: 10.7rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Slider with description 1-st */
  .slider__item div:nth-child(1) {
    margin: 0 auto;
    padding-top: 1.5rem;
  }
  .slider .slick-next.slick-arrow {
    font-size: 0;
    background: none;
    border: none;
  }
  .slider__item {
    display: block;
  }
  .description > p {
    text-align: justify;
  }
  .description > p,
  .description > h2 > span,
  .description > h2 {
    padding-left: 0;
  }
  .description > h2::after {
    left: 0;
  }
  .hamburger-inner {
    top: 0%;
  }

  /* Services */
  .services__posts-elements-first {
    padding: 0 0 0 3rem;
    height: 75%;
    overflow: hidden;
  }
  .services__posts {
    padding: 0 0 5.6rem 0;
  }
  p.left-block-link > a {
    left: 14%;
  }
  p.center-block-link > a,
  p.right-block-link > a {
    left: 12%;
  }

  /* Slider white */
  #fleet div > h2 {
    padding-top: 3rem;
  }
  .multiple-items__element > img {
    width: 75%;
  }
  #fleet div > p {
    padding-bottom: 0;
  }

  /* Form for contacts */
  #details {
    max-width: 370px;
  }

  /* Swiper slide review */
  .swiper-prev,
  .swiper-next {
    display: none;
  }
  .swiper-slide > p:nth-child(2) {
    text-align: justify;
  }
  .horizontal-left-block h2 {
    margin: 3rem 0 0 0;
  }
  .horizontal-left-block p {
    margin: 0.3rem 0 3rem 0;
  }

  /* Bottom block */
  .bottom-block h2 {
    margin: 3rem 0 0 0;
  }
  .contact-information {
    display: block;
    margin: 2rem 0 2.3rem 0;
  }
  .quick-menu {
    margin-top: 2rem;
  }
  .quick-menu-item:nth-child(3) {
    margin-right: 5rem;
  }

  /* Footer */
  .footer-menu-right > p {
    padding: 0;
  }
  .footer-menu-right ul {
    padding-left: 2.5rem;
  }
  .footer-menu {
    padding-left: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Top menu */
  .main-menu {
    padding: 0.5rem 1rem;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
  }
  .custom-toggler .navbar-toggler-icon {
    min-width: 35px;
  }
  .horizontal-left-block p {
    margin: 0.3rem 0 3rem 0;
  }

  /* Slider with description 1-st */
  .description > p {
    text-align: justify;
    padding-left: 0.3rem;
  }
  .description > h2 {
    padding: 1.2rem 0 0 0;
  }
  .description > h2::after {
    left: 0;
  }
  .slick-dots > li > button,
  .slick-dots > li.slick-active button {
    width: 0.5rem;
    height: 0.5rem;
  }
  .slider .slick-next.slick-arrow {
    font-size: 0;
    background: none;
    border: none;
  }
  .slider__item {
    display: block;
  }
  .slider__item div:nth-child(1) {
    max-width: 100%;
  }

  /* Services */
  #services {
    margin: 3.3rem 0 0 0;
  }
  .services__posts {
    padding: 0;
  }
  .services__posts-elements {
    height: 62%;
    overflow: hidden;
  }
  .services__posts-elements-first,
  .services__posts-elements {
    padding: 0 0 0 1rem;
  }
  p.left-block-link > a,
  p.center-block-link > a,
  p.right-block-link > a {
    top: 83%;
    left: 10%;
  }

  /* Slider white */
  #fleet div > h2 {
    padding-top: 3rem;
  }
  #fleet div > p {
    padding-bottom: 0;
  }

  /* Form for contacts */
  input[type="checkbox"] + label[for="checkbox_right"]::before,
  input[type="checkbox"]:checked + label[for="checkbox_right"]::after {
    left: 9.55rem;
  }
  .form-check-inline {
    display: block;
  }
  #details,
  input[type="email"],
  input[type="text"],
  .list {
    max-width: 90%;
  }
  button#submit {
    min-width: 100px;
  }
  .list-control {
    background: url(../source/images/icons/arrow_down.png) 86% no-repeat;
  }
  .bottom-block h2,
  .horizontal-left-block h2,
  .left-block h2,
  .right-block h2 {
    margin: 3rem 0 0 0;
  }
  .right-block {
    padding-left: 15px;
    padding-right: 0;
  }

  /* Swiper slide review */
  .swiper-prev,
  .swiper-next {
    display: none;
  }
  .swiper-slide {
    text-align: center;
  }
  .swiper-slide p:nth-child(2) {
    text-align: justify;
  }
  .swiper-slide p:nth-child(3) {
    margin: 0 0 4rem 0;
  }

  /* Bottom block */
  .quick-menu {
    margin-top: 2rem;
  }
  .contact-information {
    display: block;
    margin: 2rem 0 2.3rem 0;
  }

  /* Footer */
  .footer-menu {
    display: block;
  }
  .footer-menu-right ul {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .footer-menu-right > p {
    padding: 0 0.6rem 0 1rem;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  /* Top menu */
  .main-menu {
    padding: 0.5rem 1rem;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
  }
  .main-menu-link-logo {
    max-width: 80%;
  }
  .custom-toggler .navbar-toggler-icon {
    min-width: 33px;
  }

  /* Slider with description 1-st */
  .slider .slick-next.slick-arrow {
    font-size: 0;
    background: none;
    border: none;
  }
  .slider__item {
    display: block;
  }
  .slick-dots > li.slick-active button,
  .slick-dots > li > button {
    width: 0.5rem;
    height: 0.5rem;
  }
  .description p {
    display: none;
    padding-left: 0;
    text-align: justify;
  }
  div .description-on {
    display: block;
  }
  .name-description::before {
    content: "";
    position: absolute;
    top: 64%;
    left: 45%;
    width: 50px;
    height: 50px;
    background: url(../source/images/icons/arr1.png) no-repeat;
    animation: arrow-movement 2s ease-out infinite;
  }
  @keyframes arrow-movement {
    0% {
      opacity: 0.3;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }
  .description > h2 {
    padding-left: 0;
    text-align: center;
  }
  .description > h2::after {
    display: none;
  }

  /* Services */
  #services {
    margin: 2.3rem 0 0 0;
  }
  .services__posts-elements {
    padding: 0 15px 0 15px;
  }
  .services__posts {
    padding: 0 0 3.3rem 0;
  }
  .services__posts p > a {
    width: 35px;
    height: 35px;
    background: url(../source/images/icons/css_sprites.png);
    background-position: -12px -176px;
  }
  p.left-block-link > a {
    top: 80%;
    left: 85%;
  }
  p.center-block-link > a,
  p.right-block-link > a {
    top: 74%;
    left: 85%;
  }

  /* Slider white */
  #fleet div > h2 {
    padding-top: 2rem;
  }
  #fleet div > p {
    padding-bottom: 1rem;
  }
  .slick-dots {
    padding: 1rem 0 1rem 0;
  }
  .left-block h2,
  .horizontal-left-block h2,
  .bottom-block h2 {
    margin-top: 2rem;
  }

  /* Form for contacts */
  input[type="email"] {
    max-width: 370px;
  }
  #details {
    max-width: 370px;
  }
  .right-block {
    display: none;
  }

  /* Swiper slide review */
  .swiper-prev,
  .swiper-next {
    display: none;
  }
  .swiper-slide {
    text-align: center;
  }
  .swiper-slide > p:nth-child(1) {
    text-align: justify;
  }
  .swiper-slide > p:nth-child(3) {
    margin: 0 0 3rem 0;
  }
  .horizontal-left-block p {
    margin: 0.3rem 0 1rem 0;
  }

  /* Bottom block */
  .quick-menu {
    margin-top: 1.5rem;
  }
  .quick-menu-item {
    padding: 0 0.6rem 0 0;
  }
  .bottom-block > .container > .row > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .contact-information {
    display: block;
    margin: 1.5rem 0 2.3rem 0;
  }

  /* Footer */
  .footer > .container > .row {
    display: block;
  }
  .footer-menu-right ul {
    flex: 0 0 30%;
    margin-left: 3rem;
    margin-top: -1rem;
  }
}

@media (min-width: 360px) and (max-width: 479px) {
  /* Top menu */
  .main-menu {
    padding: 0.5rem 1rem;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
  }
  .main-menu-link-logo {
    max-width: 80%;
  }
  .custom-toggler .navbar-toggler-icon {
    min-width: 30px;
  }

  /* Slider with description 1-st */
  .slider__item {
    display: block;
  }
  .slider .slick-next.slick-arrow {
    font-size: 0;
    background: none;
    border: none;
  }
  .slick-dots > li.slick-active button,
  .slick-dots > li > button {
    width: 0.5rem;
    height: 0.5rem;
  }
  .description {
    text-align: center;
  }
  .description p {
    display: none;
    padding-left: 0;
    text-align: justify;
    line-height: 20px;
  }
  .description > h2 {
    padding-left: 0;
    text-align: center;
    line-height: 4rem;
  }
  .description > h2::after {
    display: none;
  }
  div .description-on {
    display: block;
  }
  .name-description::before {
    content: "";
    position: absolute;
    top: 64%;
    left: 44%;
    width: 50px;
    height: 50px;
    background: url(../source/images/icons/arr1.png) no-repeat;
    animation: arrow-movement 2s ease-out infinite;
  }

  @keyframes arrow-movement {
    0% {
      opacity: 0.3;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }

  /* Services */
  #services {
    margin: 2.3rem 0 0 0;
  }
  .services__posts-elements {
    height: 86%;
    padding: 0 15px 0 15px;
  }
  .services__posts {
    padding: 0 0 3.3rem 0;
    line-height: 19px;
  }
  .services__posts p > a {
    width: 35px;
    height: 35px;
    background: url(../source/images/icons/css_sprites.png);
    background-position: -12px -176px;
  }
  p.left-block-link > a {
    top: 80%;
    left: 85%;
  }
  p.center-block-link > a,
  p.right-block-link > a {
    top: 74%;
    left: 85%;
  }

  /* Carousel slick white */
  .multiple-items__element img {
    width: 100%;
  }
  #fleet div > h2 {
    padding-top: 2rem;
  }
  #fleet div > p {
    padding-bottom: 1rem;
  }
  .slick-dots {
    padding: 1rem 0 1rem 0;
  }

  /* Form for contact */
  input[type="checkbox"] + label[for="checkbox_right"]::before,
  input[type="checkbox"]:checked + label[for="checkbox_right"]::after {
    left: 9.55rem;
  }
  input[type="email"],
  input[type="text"] {
    max-width: 320px;
  }
  #details {
    max-width: 320px;
  }
  .form-check-inline {
    display: block;
  }
  .right-block {
    display: none;
  }
  .left-block h2,
  .right-block h2,
  .horizontal-left-block h2 {
    margin-top: 2rem;
  }

  /* Swiper slide review */
  .swiper-slide {
    text-align: center;
  }
  .swiper-prev,
  .swiper-next {
    display: none;
  }
  .swiper-slide > p:nth-child(2) {
    text-align: justify;
  }
  .swiper-slide > p:nth-child(3) {
    margin: 0 0 3rem 0;
  }
  .horizontal-left-block p {
    margin: 0.3rem 0 1rem 0;
  }

  /* Bottom menu (quick menu+contact) */
  .quick-menu {
    margin-top: 1.5rem;
  }
  .quick-menu-item {
    padding: 0 1.4rem 0 0;
  }
  .bottom-block h2 {
    margin-top: 1rem;
  }
  .contact-information {
    display: block;
    margin: 1.5rem 0 1.3rem 0;
  }

  /* Footer */
  .footer-menu-right ul {
    flex: 0 0 40%;
    margin: 1rem 0 0 2rem;
  }
}

@media (max-width: 320px) {
  /* Top menu */
  .main-menu {
    padding: 0.5rem 1rem;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
  }
  .main-menu-link-logo {
    max-width: 80%;
  }
  .custom-toggler .navbar-toggler-icon {
    min-width: 30px;
  }
  .hamburger-inner {
    top: 7%;
  }
  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    width: 32px;
  }
  .navbar-nav {
    justify-content: center;
  }
  .nav-item {
    flex-basis: 33.33%;
    text-align: center;
    box-shadow: 0px 0px 0px 0.5px white;
  }
  .nav-link {
    margin: 0rem 0rem 0 0rem;
  }
  .nav-item:last-child .nav-link {
    margin-right: 0rem;
    margin-bottom: 0rem;
  }
  .bottom-main-menu::before,
  .bottom-main-menu::after {
    content: "";
    width: 100%;
    order: 0;
  }
  .nav-item:nth-child(n + 4) {
    order: 1;
  }
  .nav-item:nth-child(n + 10) {
    flex: 0 0 50%;
  }

  /* Slider with description 1-st */
  .slider__item {
    display: block;
  }
  .slider .slick-next.slick-arrow {
    font-size: 0;
    background: none;
    border: none;
  }
  .slick-dots > li.slick-active button,
  .slick-dots > li > button {
    width: 0.5rem;
    height: 0.5rem;
  }
  .description {
    text-align: center;
  }
  .description p {
    display: none;
    padding-left: 0;
    text-align: justify;
    line-height: 20px;
  }
  .description > h2 {
    padding-left: 0;
    text-align: center;
    line-height: 4rem;
  }
  .description > h2::after {
    display: none;
  }
  div .description-on {
    display: block;
  }
  .name-description::before {
    content: "";
    position: absolute;
    top: 64%;
    left: 42%;
    width: 50px;
    height: 50px;
    background: url(../source/images/icons/arr1.png) no-repeat;
    animation: arrow-movement 2s ease-out infinite;
  }
  @keyframes arrow-movement {
    0% {
      opacity: 0.3;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }

  /* Services */
  #services {
    margin: 2.3rem 0 0 0;
  }
  .services__posts-elements {
    height: 86%;
    padding: 0 15px 0 15px;
  }
  .services__posts {
    padding: 0 0 3.3rem 0;
    line-height: 19px;
  }
  .services__posts p > a {
    width: 35px;
    height: 35px;
    background: url(../source/images/icons/css_sprites.png);
    background-position: -12px -176px;
  }
  p.left-block-link > a {
    top: 80%;
    left: 85%;
  }
  p.center-block-link > a,
  p.right-block-link > a {
    top: 74%;
    left: 85%;
  }

  /* Carousel slick white */
  .multiple-items__element img {
    width: 100%;
  }
  #fleet div > h2 {
    padding-top: 2rem;
  }
  #fleet div > p {
    padding-bottom: 1rem;
  }
  #fleet div > p:nth-child(2) {
    padding-bottom: 1rem;
  }
  .slick-dots {
    padding: 0 0 1rem 0;
  }
  .hover-comment {
    padding: 0.2rem;
    line-height: 1.2;
  }
  /* Form for contact */
  input[type="checkbox"] + label[for="checkbox_right"]::before,
  input[type="checkbox"]:checked + label[for="checkbox_right"]::after {
    left: 9.55rem;
  }
  input[type="email"],
  input[type="text"] {
    max-width: 320px;
  }
  #details {
    max-width: 320px;
  }
  .form-check-inline {
    display: block;
  }
  .right-block {
    display: none;
  }
  .left-block h2,
  .right-block h2,
  .horizontal-left-block h2 {
    margin-top: 2rem;
  }

  /* Swiper slide review */
  .swiper-slide {
    text-align: center;
  }
  .swiper-prev,
  .swiper-next {
    display: none;
  }
  .swiper-slide > p:nth-child(2) {
    text-align: justify;
  }
  .swiper-slide > p:nth-child(3) {
    margin: 0 0 3rem 0;
  }
  .horizontal-left-block p {
    margin: 0.3rem 0 1rem 0;
  }

  /* Bottom menu (quick menu+contact) */
  .quick-menu {
    margin-top: 1.5rem;
  }
  .quick-menu-item {
    padding: 0 0.4rem 0 0;
  }
  .bottom-block h2 {
    margin-top: 1rem;
  }
  .contact-information {
    display: block;
    margin: 1.5rem 0 1.3rem 0;
  }

  /* Footer */
  .footer-menu-right ul {
    flex: 0 0 40%;
    margin: 1rem 0 0 1rem;
  }
  .footer-menu-right > p {
    padding: 0 0 0 1rem;
  }
}

/* Adaptive font size */
@media (max-width: 1499px) {
  .description > h2 {
    font-size: calc(18px + (7 + 7 * 0.7) * ((100vw - 320px) / 1499));
  }
  .description > p {
    font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1499));
  }
  .services__posts h3 {
    font-size: calc(21px + (4 + 4 * 0.7) * ((100vw - 320px) / 1499));
  }
  .services__posts {
    font-size: calc(12px + (2 + 2 * 0.7) * ((100vw - 320px) / 1499));
  }
  #fleet div > h2 {
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1499));
  }
  #fleet div > p {
    font-size: calc(11px + (2 + 2 * 0.7) * ((100vw - 320px) / 1499));
  }
  .hover-comment {
    font-size: calc(10px + (3 + 3 * 0.7) * ((100vw - 320px) / 1499));
  }
  div.multiple-items__element > p {
    font-size: calc(18px + (7 + 7 * 0.7) * ((100vw - 320px) / 1499));
  }
  .left-block h2,
  .right-block h2 {
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1499));
  }
  button#submit {
    font-size: calc(12px + (1 + 1 * 0.7) * ((100vw - 320px) / 1499));
  }
  .horizontal-left-block h2 {
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw -320) / 1499));
  }
  .horizontal-left-block p {
    font-size: calc(11px + (2 + 2 * 0.7) * ((100vw -320) / 1499));
  }
  .swiper-slide > p {
    font-size: calc(12px + (2 + 2 * 0.7) * ((100vw -320) / 1499));
  }
  .footer-menu-right > p {
    font-size: calc(9px + (4 + 4 * 0.7) * ((100vw -320) / 1499));
  }
  .footer-menu li > a {
    font-size: calc(9px + (4 + 4 * 0.7) * ((100vw -320) / 1499));
  }
  .right-block > p:nth-child(2) {
    font-size: calc(30px + (10 + 10 * 0.7) * ((100vw -320) / 1499));
  }
  .bottom-block h2 {
    font-size: calc(18px + (7 + 7 * 0.7) * ((100vw -360) / 1499));
  }
}
